.navbar-default{
    height: 56px;
}
#logo{
    margin-top: 3px;
}

.navbar-brand img{
    margin-top: -11px;
}

#logo{
    margin-top: -11px;
}

.navbar-collapse{
    background-color:  #f8f8f8;
}

#input_nivel{
    width: 100px !important;
}

#dados_user {
    padding-top: 70px !important;
}

#opcoes_adm {
    padding-top: 70px !important;
}

#pesquisa_jogador{
    padding-top: 70px !important;
}

#tabela_partidas{
    padding-top: 70px !important;
}

#dataPartida{
    font-size: 7px !important;
}

#inicio_jogador {
    padding-top: 70px !important;
}
 
#data_value_partidas {
    width: 101px !important;
}

#hora_value_partidas {
    width: 64px !important;
}

#data_value_partida{
    width: 101px !important;
}

#hora_value_partida{
    width: 64px !important;
}
#legenda {
    color: blue !important;
    font-style: italic;
}