.navbar-default{
    height: 56px;
}
#logo{
    margin-top: 3px;
}

.navbar-brand img{
    margin-top: -11px;
}

#logo{
    margin-top: -11px;
}

.navbar-collapse{
    background-color:  #f8f8f8;
}

#input_nivel{
    width: 100px !important;
}

#pesquisa_jogador{
    padding-top: 70px !important;
}