.navbar-default{
    height: 56px;
}

#logo{
    margin-top: 3px;
}

.navbar-brand img{
    margin-top: -11px;
}

#logo{
    margin-top: -11px;
}

.navbar-collapse{
    background-color:  #f8f8f8;
}

#input_nivel{
    width: 100px !important;
}

#dados_user {
    padding-top: 70px !important;
}

#dados_campeonato {
    padding-top: 70px !important;
}

#nivel_jogador_adm {
    padding-top: 70px !important;
}

#desativa_usuario_adm {
    padding-top: 70px !important;
}

#campeonatos_finalizados_adm {
    padding-top: 70px !important;
}

#dados_campeonato_adm {    
    padding-top: 70px !important;
}

#campeonatos_adm{
    padding-top: 70px !important;
}

#tabela_partidas{
    padding-top: 70px !important;
}

#tabela_campeonatos {
    padding-top: 70px !important;
}

#dataPartida{
    font-size: 7px !important;
}

#inicio_jogador {
    padding-top: 70px !important;
}

#notificao_usuario {
    padding-top: 70px !important;
}
 
#cadastro_campeonato {
    padding-top: 70px !important;
}

#data_value_partidas {
    width: 101px !important;
}

#hora_value_partidas {
    width: 64px !important;
}

#data_value_partida{
    width: 101px !important;
}

#hora_value_partida{
    width: 64px !important;
}

#data_inicio_campeonato{
    width: 101px !important;
}

#data_fim_campeonato{
    width: 101px !important;
}

#inscritos_campeonato{
    width: 64px !important;
}

#id_campeonato {
    width: 64px !important;
}

#legenda {
    color: blue !important;
    font-style: italic;
}

#nivel_jogador {
    width: 70px !important;
}

#partidas_jogadas {
    width: 70px !important;
}

#gols_jogador {
    width: 70px !important;
}

#cartao_amarelo {
    width: 70px !important;
}

#cartao_vermelho {
    width: 70px !important;
}
