<body ng-controller="dadosController">
        <div class="container">
                <div class="row">
                    <div class="col-md-12" id="dados_user">
                        <form class="form-horizontal">
                            <fieldset>
                                <!-- Form Name -->
                                <legend id="legenda">DADOS CADASTRAIS</legend>
                                
                                <!-- Text input-->
                                
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="Nome">Nome</label>  
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                            <i class="fa fa-user"></i>
                                            </div>
                                            <input type="text" placeholder="Nome completo" ng-model="nome" class="form-control input-md">
                                        </div>
                                    </div>
                                </div>


                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="email">Endereço</label>  
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="glyphicon glyphicon-map-marker"></i>
                                            </div>
                                            <input type="text" placeholder="Endereço" ng-model="endereco" class="form-control input-md">                    
                                        </div>
                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="email">Telefone</label>  
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="glyphicon glyphicon-earphone"></i>
                                            </div>
                                            <input type="text" placeholder="telefone" class="form-control input-md" ng-value="telefone">                    
                                        </div>
                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="email">Email</label>  
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="glyphicon glyphicon-envelope"></i>
                                            </div>
                                            <input type="email" placeholder="Endereço de E-mail" ng-model="email" class="form-control input-md" disabled>                    
                                        </div>
                                    </div>
                                </div>
        
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="senha">Senha</label>  
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fas fa-key"></i>
                                            </div>
                                            <input type="password" placeholder="Senha" ng-model="senha" class="form-control input-md">                    
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="col-md-5 control-label" ></label>  
                                    <div class="col-md-5">
                                            <input type="submit" class="btn btn-success" ng-click="alterar()" value="Alterar">  
                                            <input type="submit" class="btn btn-danger" ng-click="cancelar()" value="Cancelar">  
                                    </div>
                                </div>
                            
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
</body>