<body ng-controller="admController">
    <div class="container">
        <div class="row">
            <div class="col-md-12" id="cadastro_campeonato">
                    <form class="form-horizontal">
                        <fieldset>
                                <legend id="legenda">CADASTRAR CAMPEONATO</legend>
        
                                <div class="form-group">
                                        <label class="col-md-4 control-label" for="Nome">Campeonato:</label>  
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                <i class="fa fa-trophy"></i>
                                                </div>
                                                <input type="text" placeholder="Nome do Campeonato" ng-model="nome_campeonato" class="form-control input-md">
                                            </div>
                                        </div>
                                    </div>
    
                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="data_inicio">Data de Inicio:</label>  
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </div>
                                                <input type="date" class="form-control" ng-model="data_inicio_campeonato">                   
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="data_inicio">Data de Termino:</label>  
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </div>
                                                <input type="date" class="form-control" ng-model="data_fim_campeonato">                  
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-5 control-label" ></label>  
                                        <div class="col-md-5">
                                            <input type="submit" class="btn btn-success" ng-click="cadastrar_campeonato()" value="Cadastrar">
                                            <input type="submit" class="btn btn-danger" ng-click="cancelar_cad_campeonato()" value="Cancelar">   
                                        </div>
                                    </div>
                        </fieldset>
                    </form>
            </div>
        </div>
    </div>
</body>