<body ng-controller="campeonatosAdmController">
        <div class="container">
            <div class="row" id="campeonatos_adm">
                <div>
                    <form class="form-horizontal">
                        <fieldset>
                            <legend id="legenda">CAMPEONATOS EM ANDAMENTO</legend>
                                    <div class="list-group" ng-repeat="campeonato in campeonatos">
                                        <a href="#/campeonato_adm/{{campeonato.idCampeonato}}" class="list-group-item list-group-item-info"><i class="fa fa-trophy"></i> <b>{{campeonato.nomeCampeonato}}</b> <i class="fa fa-trophy"></i> </a>
                                    </div>
                        </fieldset>
                    </form>
                </div>
            </div>
    </div>
</body>