<body ng-controller="campeonatoAdmController">
    <div class="container">
        <div class="row">
            <div class="col-md-12" id="dados_campeonato_adm">
                <form class="form-horizontal">
                    <fieldset>
                        <legend id="legenda">DADOS DO CAMPEONATO</legend>
                        
                        <div class="form-group">
                            <label class="col-md-4 control-label">ID</label>  
                            <div class="col-md-4">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-asterisk"></span>
                                    </div>
                                    <input type="text" ng-model="codigo_campeonato" title="Código do Campeonato" class="form-control input-sm" id="id_campeonato" disabled>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Nome</label>  
                            <div class="col-md-4">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-trophy"></i>
                                    </div>
                                    <input type="text" ng-model="nome_campeonato" title="Nome do Campeonato" class="form-control input-sm" >                    
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label" >Data de Inicio</label>  
                            <div class="col-md-4">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </div>
                                    <input type="date" class="form-control input-sm" title="Data de Inicio" ng-value="dataInicio_campeonato">                    
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                                <label class="col-md-4 control-label" >Data de Termino</label>  
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </div>
                                        <input type="date" class="form-control input-sm" title="Data de Termino" ng-value="dataFim_campeonato">                    
                                    </div>
                                </div>
                        </div>
                        <div class="form-group">
                                <label class="col-md-4 control-label" >Status</label>  
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="glyphicon glyphicon-stats"></i>
                                        </div>
                                        <select ng-model="status_campeonato" class="btn btn-default">
                                            <option value="0">Andamento</option>
                                            <option value="-1">Finalizado</option>
                                        </select>                   
                                    </div>
                                </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-5 control-label" ></label>  
                            <div class="col-md-5">
                                <input type="submit" class="btn btn-success" ng-click="alterar_campeonato()" value="Alterar Dados">  
                            </div>
                        </div>
                    
                    </fieldset>
                    <fieldset>
                        <legend id="legenda">JOGADORES INSCRITOS</legend>
                        <div class="list-group" ng-repeat="usuario in usuarios">
                            <a href="#" class="list-group-item">{{partida.descricaoPart}}</a>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</body>