<body ng-controller="admController">
    <div class="container">
            <div class="row"  id="nivel_jogador_adm">
                <div class="col-md-12">
                    <form class="form-horizontal">
                    <div class="row">
                            <div class="col s12 center">
                                <h5>Nível dos Jogadores</h5>
                            </div>
                        </div>
                        <div class="row"> 
                            <div class="input-field col s6">
                                <input type="text" ng-model="q" class="validate">
                                <label>Pesquisar...</label>   
                            </div>
                        </div>
                        <div class="row">
                            <div class="table-responsive">
                                <table class="highlight centered">
                                    <tr>
                                        <td colspan="2"><b>Nome</b></td>
                                        <td><b>Nível</b></td>
                                        <td><b> </b></td>
                                    </tr>
                                    <tr ng-repeat="usuario in usuarios | filter:q | orderBy: q">
                                        <td><img width="32" height="32" ng-src="{{usuario.foto_perfil}}" class="circle"></td>
                                        <td>{{usuario.nomeUser}}</td>
                                        <td><input class="center" id="input_nivel" type="number" ng-change="getValor(nv)" ng-model="nv" ng-value={{usuario.nivelUser}} min="0" max="5">
                                        </td>
                                        <td>
                                            <button class="btn-floating right #1a237e indigo darken-4" title="Salvar" ng-click="editar(usuario)" title="Salvar Nível">
                                                <i class="material-icons">save</i>
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>         
                    </form>
                </div>
            </div>
        </div>
</body>