<body ng-controller="homeController">
        <div class="container">
            <div class="col-md-12" id="inicio_jogador">
                <ul class="collection" id="campeonatos_list">
                        <li class="collection-item avatar" >
                            <img ng-src="{{foto_user}}" class="circle">
                            <span class="title"><b>{{nome_user}}</b></span>
                        </li>
                        <!-- <li class="collection-item avatar" >
                            <img src="img/star.png" class="circle">
                            <span class="title"><b>Nível Jogador</b></span>
                            <p>{{nivel_user}}</p>
                        </li> -->
                        <li class="collection-item avatar" >
                            <img src="img/bola.png" class="circle">
                            <span class="title"><b>Partidas Jogadas</b></span>
                            <p>{{partidas_jogadas}}</p>
                        </li>
                        <li class="collection-item avatar" >
                            <img src="img/gol.png" class="circle">
                            <span class="title"><b>Gols</b></span>
                            <p>{{gols_jogador}}</p>
                        </li>
                        <li class="collection-item avatar" >
                                <img src="img/gol_contra.png" class="circle">
                                <span class="title"><b>Gols Contra</b></span>
                                <p>{{contra_jogador}}</p>
                            </li>
                        <li class="collection-item avatar" >
                            <img src="img/yellow.png" class="circle">
                            <span class="title"><b>Cartões Amarelos</b></span>
                            <p>{{cartao_amarelo}}</p>
                        </li>
                        <li class="collection-item avatar" >
                            <img src="img/red.png" class="circle">
                            <span class="title"><b>Cartões Vermelhos</b></span>
                            <p>{{cartao_vermelho}}</p>
                        </li>
                </ul>
            </div>
        </div>
</body>
